
Geppetoo=0.1.0
Description=Forklift Server Daemon
Requires=network.service
Wants=syslog.service
After=syslog.service network.service

Type=simple
User=git
Group=git
WorkingDirectory=/home/git/gogs
ExecStart=/home/git/gogs/start.sh
