# vim: filetype=yaml

geppetto: "1.0.0"
description: Simple Web Server
#network.service syslog.service
#: syslog.service network.service

wants: []
requires: []
after: []

service:
  http:
    port: 8080
    address: $IP
  api:
    port: 9090
    address: $IP

check:
  http :
    name: web server check
    exec: ping $THIS_HTTP_ADDRESS:$THIS_HTTP_PORT
    interval: 10s

  api:
    name: web api check
    exec: ping $THIS_API_ADDRESS:$THIS_API_PORT
    interval: 10s

process:
  type: simple
  user: go
  group: go
  workingdirectory: /home/go/go/
  execstart: /home/go/go/bin/web-server 
  #-p $web_SERVER_Address
