[Meta]
Geppetto=1.0.0
Description=Simple Web Server
#network.service syslog.service
#=syslog.service network.service
Wants=
Requires=

After=

[Service]
Type=simple
User=go
Group=go
WorkingDirectory=/home/go/go/
ExecStart=/home/go/go/bin/web-server
